[submodule "backend"]
	path = backend
	url = https://github.com/MLHale/pathway-viz-backend
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/MLHale/pathway-viz-frontend
	branch = master
[submodule "GOUtil"]
	path = GOUtil
	url = https://github.com/thecodingdoc/GOUtil
	branch = master
[submodule "GOUtildata"]
	path = GOUtildata
	url = https://github.com/MLHale/GOUtildata
	branch = master
