[submodule "backend"]
	path = funset-backend
	url = https://github.com/MLHale/funset-backend
	branch = master
[submodule "frontend"]
	path = funset-frontend
	url = https://github.com/MLHale/funset-frontend
	branch = master
[submodule "GOUtil"]
	path = GOUtil
	url = https://github.com/thecodingdoc/GOUtil
	branch = master
[submodule "GOUtildata"]
	path = GOUtildata
	url = https://github.com/MLHale/GOUtildata
	branch = master
